homeassistant:
  # Name of the location where Home Assistant is running
  name: Sesame
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 4
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret time_zone

  customize:
    binary_sensor.door_window_sensor_158d000112570a:
      friendly_name: Door Sensor
    binary_sensor.switch_158d00013f853a:
      friendly_name: Button
    binary_sensor.motion_sensor_158d0001186e42:
      friendly_name: living motion
    sensor.humidity_158d000159f16f:
      friendly_name: Humidity
    sensor.temperature_158d000159f16f:
      friendly_name: Temp
    sensor.temperature_158d00015afeee:
      friendly_name: Room Temp
    sensor.humidity_158d00015afeee:
      friendly_name: Room Humi
    light.gateway_light_f0b429cc458a:
      friendly_name: MiLight
    switch.plug_158d0001168677:
      friendly_name: XiaoMi Plug
    binary_sensor.cube_158d0001061249:
      friendly_name: Cube
    binary_sensor.motion_sensor_158d00018745af:
      friendly_name: Master motion
    binary_sensor.motion_sensor_158d00018757a2:
      friendly_name: Slave motion

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret http_password
  # Uncomment this if you are using SSL or running in Docker etc
  # base_url: example.duckdns.org:8123

# Checks for available updates
updater:

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

# Track the sun
sun:

# Weather Prediction
sensor: !include_dir_merge_list sensor

# Text to speech
tts:
  platform: google

#you can leave sid empty if you only have one gateway
xiaomi:
  gateways:
   - mac:
     key: !secret xiaomi_key

device_tracker:
  - platform: owntracks
    max_gps_accuracy: 200
    waypoints: True



mqtt:
  broker: 192.168.1.125
  port: 1883
  client_id: home-assistant-1
  username: ha
  password: homeassistant

input_slider:
  ledspeed:
    name: Animatioen Speed
    initial: 150
    min: 10
    max: 150
    step: 10
    
  motion_timer1:
    name: motion_timer1
    icon: mdi:timer
    initial: 10
    min: 0
    max: 20
    step: 1

camera:
  platform: foscam
  ip: 192.168.1.185
  username: !secret foscam_user
  password: !secret foscam_psw

####################################################################################################################################################################################################

climate:
  - platform: generic_thermostat
    name: Study
    heater: switch.433switch2
    target_sensor: sensor.temperature_158d000159f16f
    min_temp: 15
    max_temp: 28
    target_temp: 21
    tolerance: 0.5
    min_cycle_duration:
      seconds: 5
    keep_alive:
      minutes: 3

shell_command:
  get_latest_config: bash /home/homeassistant/.homeassistant/pullconfig.sh
  
  ####### before this works run from cli --- sudo su -s /bin/bash hass then ssh-keygen press enter for all then ssh-copy-id pi@127.0.0.1
  rebootpi: ssh pi@127.0.0.1 sudo reboot

####################################################################################################################################################################################################
automation: !include_dir_merge_list automation/
light: !include_dir_merge_list light/
zone: !include_dir_list zones/
group: !include groups/groups.yaml
script: !include_dir_merge_named script/
switch: !include_dir_list switch/

#packages:
#  pack_1: !include packages/rebootpi.yaml
####################################################################################################################################################################################################
